<h3> Inventory </h3>

<div class="card">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Count</th>
        <th>Units</th>
        <th>Owner</th>
        <th>Percent Remaining</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of (this.groceryList$ | async)" [routerLink]="['/item', item.name]">
        <td>{{ item.name }}</td>
        <td>{{ item.count }}</td>
        <td>{{ item.units }}</td>
        <td>{{ item.owner }}</td>
        <td>TODO: Figure me out</td>
      </tr>
    </tbody>
  </table>
</div>
