<div class="row">
  <div class="col col-xl-6 col-lg-6 col-md-6">
    <form [formGroup]="newItemForm" (ngSubmit)="onSubmit(newItemForm.value)">
      <h4> Add New Item </h4>
      <div class="form-group">
        <label for="new-item-name">Item Name</label>
        <input
         type="text"
         class="form-control"
         id="new-item-name"
         placeholder="e.g. Milk"
         formControlName="name"
        >
      </div>
      <div class="form-group">
        <label for="new-item-count">Item Count</label>
        <input
         type="number"
         class="form-control"
         id="new-item-count"
         placeholder="e.g. 1"
         formControlName="count"
        >
      </div>
    
      <div class="form-group">
        <label for="new-item-units">Units</label>
        <input
         type="text"
         class="form-control"
         id="new-item-units"
         placeholder="e.g. Gal."
         formControlName="units"
        >
      </div>
    
      <button
       type="submit"
       class="btn btn-default"
       [disabled]="disabled">
        Add New Item
      </button>
    </form>
    
    <button
     class="btn btn-default"
     [disabled]="disabled"
     (click)="checkOut()"
    > Checkout </button>
  </div>

  <div class="col col-xl-6 col-lg-6 col-md-6">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Units</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let cartItem of (this.cartItems$ | async)">
          <td>{{ cartItem.name }}</td>
          <td>{{ cartItem.count }}</td>
          <td>{{ cartItem.units }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>