<div class="home container">
  <h1>
    Reamer Grocery App
  </h1>

  <button
  type="button"
  class="btn btn-outline-secondary"
  [routerLink]="['/login']"
  *ngIf="!authenticated"
  >
    Login
  </button>

  <div *ngIf="authenticated">
    <button
      type="button"
      class="btn btn-outline-secondary"
      [routerLink]="['/inventory']"
    >
      Inventory
    </button>

    <button 
      type="button"
      class="btn btn-outline-secondary"
      [routerLink]="['/new']"
    >
      New Trip
    </button>
  </div>
</div>
